* {
  font-family: inherit;
}

.hero-titel {
  margin-top: 20px;
  font-style: normal;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
}

.hero-description {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #343434;
}
